.search-bar{
    padding: 10px 15px;
    border-radius: 7.5px;
    border: none;
    background: #e9ebeb;
    position: fixed;
    left: 140px;
    top: 3vh;
    width: 420px;
}

.search-bar:focus{
    outline: none;
}