.sidebar{
    border-radius: 7.5px;
    background: #e9ebeb;
    width: fit-content;
    padding: 25px 20px 38.5vh 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15px;
    top: 2.75vh;
    position: fixed;
}

.sb-pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-top: 125px;
}

.sb-small{
    color: grey;
    font-size: .65em;
    transform: translateY(-20px);
}
